.body{
	
}

.header1{
}

.topArticle{
	top: 0px;
	width: 100%;
	line-height: 30px;
	left: 0px;
	opacity: 0.7;
	background: black;
	position: fixed;
}

.leftArticle{
	margin-top: 40px;
	top: 0px;
	left: 0px;
	width:100px;
	height:100%;
	opacity: 0.8;
	float:left;
	background: black;
	position: fixed;
}


.bottomArticle{
	height: 200px;
	opacity: 0.6;
	background: black;
	left: 100px;
	right: 0px;
	width: 100%-100px;
	bottom: 0px;
	position: absolute;
}

.info1{
	margin-top: 10px;
	margin-left: 150px;
	width: 100px;
	float: left;
	background: black;
	opacity: 1;
}

.info2{
	margin-top: 10px;
	margin-left: 150px;
	width: 100px;
	float: left;
	background: black;
	opacity: 1;
}

.info3{
	margin-top: 10px;
	margin-right: 150px;
	width: 100px;
	float: right;
	background: black;
}

.info4{
	margin-top: 10px;
	margin-right: 150px;
	width: 100px;
	float: right;
	background: black;
}

button:hover{
	color: green;
	font-weight: bold;
}

article:hover{
	opacity: 1;
}


.button1{
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 0px;
	background-color: black;
	color: white;
	border-color: black;
}

.button2{
	width: 12%;
	margin-left: 75px;
	margin-right: 75px;
	line-height: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 12px;
	border-color: black;
}

#testButton{
	margin-top: 50px;
}